extends layout/base

block block 
    // Breadcrumb Section
    .breadcrumb-style
        nav.container-xl.mt-1(aria-label='breadcrumb')
            ol.breadcrumb
                li.breadcrumb-item
                    a.text-secondary(href='/') Home
                li.breadcrumb-item.active(aria-current='page') Thank you
    // Thank you Section
    .mt-5.mb-5.text-center
        img.w-25.m-auto.text-center(src='/Assets/Images/thank.png' alt='mouse corsair')
        h3.text-dark.fw-bold.mt-5 Thank you for shopping
        p.text-secondary.m-auto.text-center.w-50.mb-5
            | Thanks for your order! We&rsquo;ll let you know as soon as it ships. In the
            | meantime, reach out to our friendly support team with any questions you
            | have. They&rsquo;re super nice.
        a.text-center.common-button(href='/shop') Go Back to Shop
