// footer section
footer.bg-light.mt-3
    .container.py-5
        .row.py-3
            .col-lg-2.col-md-6.mb-4.mb-lg-0
                h6.text-uppercase.font-weight-bold.mb-4 About
                ul.list-unstyled.mb-0
                    li.mb-2
                        a.text-muted(href='#') Contact Us
                    li.mb-2
                        a.text-muted(href='#') About Us
                    li.mb-2
                        a.text-muted(href='#') Stories
                    li.mb-2
                        a.text-muted(href='#') Press
            .col-lg-2.col-md-6.mb-4.mb-lg-0
                h6.text-uppercase.font-weight-bold.mb-4 Help
                ul.list-unstyled.mb-0
                    li.mb-2
                        a.text-muted(href='#') Payments
                    li.mb-2
                        a.text-muted(href='#') Shipping
                    li.mb-2
                        a.text-muted(href='#') Cancellation
                    li.mb-2
                        a.text-muted(href='#') Returns
            .col-lg-2.col-md-6.mb-4.mb-lg-0
                h6.text-uppercase.font-weight-bold.mb-4 Policy
                ul.list-unstyled.mb-0
                    li.mb-2
                        a.text-muted(href='#') Return Policy
                    li.mb-2
                        a.text-muted(href='#') Terms Of Use
                    li.mb-2
                        a.text-muted(href='#') Security
                    li.mb-2
                        a.text-muted(href='#') Privacy
            .col-lg-2.col-md-6.mb-4.mb-lg-0
                h6.text-uppercase.font-weight-bold.mb-4 Company
                ul.list-unstyled.mb-0
                    li.mb-2
                        a.text-muted(href='/login') Login
                    li.mb-2
                        a.text-muted(href='/login') Register
                    li.mb-2
                        a.text-muted(href='#') Sitemap
                    li.mb-2
                        a.text-muted(href='/shop') Our Products
            .col-lg-4.col-md-6.mb-lg-0
                h6.text-uppercase.font-weight-bold.mb-4
                    | Registered Office Address
                p.text-muted.mb-4
                    | Here , write the complete address of the Registered office address
                    | along with telephone number.
                ul.list-inline.mt-4
                    li.list-inline-item
                        a(href='#' target='_blank' title='twitter')
                            i.bi.bi-twitter.main-light
                    li.list-inline-item
                        a(href='#' target='_blank' title='facebook')
                            i.bi.bi-facebook.main-light
                    li.list-inline-item
                        a(href='#' target='_blank' title='instagram')
                            i.bi.bi-instagram.main-light
                    li.list-inline-item
                        a(href='#' target='_blank' title='pinterest')
                            i.bi.bi-youtube.main-light
                    li.list-inline-item
                        a(href='#' target='_blank' title='vimeo')
                            i.bi.bi-google.main-light
    hr.p-0.m-0.b-0
    .bg-body-color.py-2
        .container.text-center
            p.text-muted.mb-0.py-2
                | &copy; 2023 Akstar.com All risghts reserved.
